## Test Podcast Pipeline - final project

In [1]:
import configparser
import pandas as pd
import os
config = configparser.ConfigParser()
config.read('dwh.cfg')

# load extension
%load_ext sql

%load_ext autoreload
%autoreload 2

### Make sure that your AWS credentials are loaded as env vars

In [2]:
# Add acces key to aws
os.environ['AWS_ACCESS_KEY_ID']=config['IAM_ROLE']['ACC_KEY']
os.environ['AWS_SECRET_ACCESS_KEY']=config['IAM_ROLE']['SEC_KEY']

### Connect to redshift cluster

In [9]:
c_clean = {k:eval(v) for k, v in dict(config['CLUSTER']).items()}
conn = "postgresql+psycopg2://{db_user}:{db_password}@{host}:{db_port}/{db_name}".format(**c_clean)
%sql $conn

### check basic about data

In [10]:
# check how many artists we have
%sql SELECT COUNT(*) FROM public.author;

 * postgresql+psycopg2://awsuser:***@podcast-cluster.chkgpzvakx52.us-east-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(9958,)]

In [11]:
# check how many episodes we have
%sql SELECT COUNT(*) FROM episode;

 * postgresql+psycopg2://awsuser:***@podcast-cluster.chkgpzvakx52.us-east-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1994559,)]

### Group data to check insights

In [12]:
# check mean of episodes grouped by total episodes
q = """SELECT genre, AVG(podcast_count) as mean_podcasts
FROM public.podcast 
GROUP BY genre 
ORDER BY mean_podcasts DESC
LIMIT 25;"""
%sql $q

 * postgresql+psycopg2://awsuser:***@podcast-cluster.chkgpzvakx52.us-east-2.redshift.amazonaws.com:5439/dev
25 rows affected.

[('Professional', 362),
 ('Health', 343),
 ('Investing', 259),
 ('Business News', 232),
 ('Christianity', 216),
 ('College & High School', 214),
 ('Music', 210),
 ('Comedy', 210),
 ('Sports & Recreation', 203),
 ('Science & Medicine ', 201),
 ('Outdoor', 198),
 ('News & Politics', 198),
 ('Fitness & Nutrition', 196),
 ('Self-Help', 192),
 ('TV & Film', 191),
 ('Management & Marketing', 183),
 ('Video Games', 179),
 ('Other Games', 179),
 ('Medicine', 176),
 ('Podcasting', 173),
 ('Kinds & Family', 168),
 ('Places & Travel', 167),
 ('Tech News', 163),
 ('History', 162),
 ('Islam', 158)]

In [13]:
# check size of podcasters grouped by language
q = """SELECT COUNT(*) as total_podcaster, language
FROM public.author
GROUP BY language
ORDER BY total_podcaster DESC
LIMIT 25;"""
%sql $q

 * postgresql+psycopg2://awsuser:***@podcast-cluster.chkgpzvakx52.us-east-2.redshift.amazonaws.com:5439/dev
25 rows affected.

[(9542, 'en'),
 (79, 'ta'),
 (64, 'de'),
 (45, 'es'),
 (31, 'Empty'),
 (25, 'fr'),
 (22, 'pt'),
 (17, 'ar'),
 (16, 'un'),
 (12, 'ja'),
 (11, 'cs'),
 (11, 'aa'),
 (10, 'zh'),
 (9, 'sv'),
 (7, 'ru'),
 (7, 'nl'),
 (6, 'it'),
 (5, 'hi'),
 (4, 'ko'),
 (4, 'in'),
 (3, 'id'),
 (3, 'fi'),
 (3, 'ur'),
 (2, 'tr'),
 (2, 'no')]

In [14]:
# select best 25 podcasts, it seems lik some 
q = """SELECT rt.spotify_rating, pod.genre, pod.podcast_count, pod.podcast_name
FROM podcast as pod
INNER JOIN rating rt ON (rt.podcastID = pod.podcastID)
ORDER BY rt.spotify_rating DESC
LIMIT 25;"""
%sql $q

 * postgresql+psycopg2://awsuser:***@podcast-cluster.chkgpzvakx52.us-east-2.redshift.amazonaws.com:5439/dev
25 rows affected.

[(5.99986, 'Comedy', 300, 'Distorted View Daily'),
 (5.99974, 'Hinduism', 45, 'Kirtan Yatra - Sant Shri Asharamji Bapu Kirtan Yatra'),
 (5.99948, 'Fitness & Nutrition', 131, 'Keto For Women Show'),
 (5.99931, 'Personal Journals', 80, "Where There's Smoke"),
 (5.99915, 'Podcasting', 40, "Robert Popper's posts"),
 (5.99867, 'Other Games', 210, 'Tuesday Knight Podcast | All About Board Games'),
 (5.99865, 'News & Politics', 59, 'Politically Re-Active with W. Kamau Bell & Hari Kondabolu'),
 (5.99839, 'Music', 19, "Dj RyB's Podcast"),
 (5.99839, 'Outdoor', 269, 'Nock On'),
 (5.99802, 'Spirituality', 10, 'Underground Railroad Radio'),
 (5.9973, 'Professional', 273, 'Phone Booth Fighting MMA'),
 (5.99697, 'Management & Marketing', 1, 'The Startup Addict'),
 (5.99686, 'Gadgets', 9, 'The SimplyDV Digital Video Podcast'),
 (5.99664, 'Other', 45, 'Millennial Pagan PodCast'),
 (5.99578, 'Non-Profit', 101, 'ACB Conference and Convention'),
 (5.9957, 'Amateur', 9, 'LEAN » Podcast Feed'),
 (5.99565, 'Training', 100, 'LearnDoBecome Radio'),
 (5.99562, 'National', 9, 'Inside the Timucuan Preserve'),
 (5.99562, 'National', 1, 'Inside the Timucuan Preserve'),
 (5.99546, 'College & High School', 350, 'The Horn Austin'),
 (5.9953, 'Gadgets', 50, 'The Giz Wiz (Audio)'),
 (5.99514, 'Software How-to', 422, 'Software Engineering Radio - The Podcast for Professional Software Developers'),
 (5.99506, 'Sexuality', 163, 'Unscrewed'),
 (5.99494, 'Judaism', 22, 'Torah Parsha'),
 (5.99453, 'News & Politics', 29, 'Throwing Shade')]